@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

*,
::before,
::after {
  border-width: 0;
}

body {
  @apply leading-[normal] m-0;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  background: #f8f8f8;
  line-height: 1.5;
  background-image: url(../assets/img/landingBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 7px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #f5f5f8 !important;
  background-clip: text;
}

.no-scroll-track::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.no-scroll-track::-webkit-scrollbar-track {
  background-color: transparent;
}

.transparent-scroll-track::-webkit-scrollbar-track {
  background-color: transparent;
}
button:focus-visible {
  outline: none;
}

.button-gradient-border {
  background-color: #fff;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-gradient-border::after {
  content: "";
  position: absolute;
  height: 108%;
  width: 102%;
  border-radius: 9999px;
  background: linear-gradient(100.07deg, #70a22c 18.13%, #47b995 107.16%);
  z-index: -1;
}
.card-border::before {
  content: "";
  display: block;
  border-top: 1px solid #87c446;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  z-index: -1;
  border-style: dotted;
}
